* {    margin : 0px;
       padding : 0px;}
body {
	font-family: Century Gothic,Arial;

	background-color: #FFFFFF;

	}
.pages {
	margin: 15px auto;
    padding: 10px;
    text-align: center;
    width: 50%;
	}
ul li{ list-style:disc;}

ul li a{ 
   color : #000;
  font-weight:bold;
  padding: 10px;
  
}

.menu {
	width : 60%;
	margin: 0 auto;
	background-color:#000;
	}
.menuitem {
	border-top: 3px solid #FF6600;
    color: #ADD8E6;
    float: left;
    font-weight: bold;
    padding: 13px;
    text-align: center;
    width: 30%;
	}
.menuitem a {
	color: #ADD8E6;
	text-decoration:none;
	}
.sitemapbutt {
	/* background-color: #ADD8E6; */
    margin: 55px auto 0;
    padding: 0;
    text-align: center;
    
	width: 10%;
}
.sitemapbutt a {
	/* border: 2px solid; */
    
	color: #000000;
    padding: 10px;
    text-decoration: none;
	}
ul {  margin: 0 auto 0 40px;}
.sitemap {
	margin: 25px auto 0 474px;
    width: 50%;
	}
.searchnow { background-color: #C3E4EF;
    margin: 22px;
	cursor:pointer;
	 text-decoration: underline;}
.search a {
    color: #504F4F;
    padding: 13px;
    text-decoration: underline;
	font-weight: bold;
	
    font-size: 14px;
    box-shadow: 2px 2px 1px #ccc;
}
.search {
	background-color: #FAE08F;
    border-radius: 5px 5px 5px 5px;
    
	margin: 0 auto 3px;
    
	padding: 12px;
    text-align: center;
    width: 50%;
	box-shadow: 2px 2px 2px #ccc;
	font-size: 13px;
}
.pagelink {
	 background-color: #0B0B0B;
    margin: 10px;
	}
	
.itemimage {
	margin: 20px auto 0;
}
	
.formatdesc {
	
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 50%;
	}
.description {
	background-color: #ddd;
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
	margin: 3rem;
    
	padding: 1rem;
    text-align: justify;
	margin-bottom:1rem;
	color: #8B2B2B;
	font-weight: bold;
	border: 1px dashed;
}
.itemothers {
	background-color: #000000;
    color: #FFCC33;
    margin-bottom: 0;
    
	margin-right: 301px;
    margin-top: 0;
    padding: 10px;
	}

	
.pages a {
	  border-bottom: 5px solid #DFC36E;
    
	  color: #F2DD9D;
    font-weight: bold;
    
	  padding: 6px;
    text-decoration: none;
	
	  font-size: 12px;
}
.allitems a{ color: #4F4F4F;
             text-decoration:none;}
.pagehead { 
            background-color: #9B2D2D;
    
            border-left: 9px solid #DEEBEF;
    
            border-radius: 107px 0 121px 0;
    
            border-right: 9px solid #ECD388;
    font-family: Century Gothic,Arial;
    height: 80px;
    
            line-height: 2.5;
    margin: 0 auto;
    
            text-align: left;
    
            width: 46%;
				
            color: #FFE7E7;
            text-transform: uppercase;
            word-spacing: 1.5rem;
            letter-spacing: 3px;
            text-shadow: 0rem 0rem 1rem #8A5353;
            box-shadow: 2px 2px 2px #ccc;
			
            padding-left: 8rem;
}
.message { background-color: #D7D7D7;
    border-radius: 0 0 15px 15px;
    color: #5E4B3E;
    font-weight: bold;
    margin: 0 auto 22px;
    text-align: center;
    width: 50%;
	padding: 5px;
	 box-shadow: 2px 2px 2px #bbb; font-size: 15px;}
.registertable{
	margin: 0 auto;
	text-align:center;
	background-color:#C3E4EF;
	width : 60%;
	border-radius: 0rem 0rem 1rem 1rem;
	/* box-shadow: 0.1rem 0.1rem 1rem #ccc; */
}
.button {
    margin-top: 0px;
    text-align: center;
	padding: 0px;
	margin : 30px auto 0;
	width : 50%;
	}
.registertable  tr{
    border:2px solid;
	margin-top:10px;
	}
.cart,.shop { 
    border-radius: 0 10px 10px 0;
    float: left;
    font-weight: bold;
    height: 93px;
    line-height: 1.5;
    padding: 10px;
    /* width: 100%; */
	margin-top: 35px;
	position:relative;
    border-left: 10px solid #9B2D2D;
    /* border-top: 10px solid #FF6600; */
}
.cartdiv {
	width : 50%;
	margin: 0 auto;
	}
.carthead { 
    background-color: #ccc;
    /* border-bottom: 6px solid; */
    border-radius: 0 0 10px 10px;
    color: #FF6600;
    /* padding: 0px 10px 10px 18px; */
	 
    /* top: -22px; */
    font-size: 30px;
    text-align: center;
    color: #5E4B3E;
    font-size: 16px;
    padding: 5px;
    box-shadow: 2px 2px 2px #bbb;
}
.carttable { /* background-color: #ECD388; */
             /* color:#ff6600; */
			 margin-top: 30px;
 border: 1px solid #ccc; }
.carttable .thead, .totcosttd {
    /* background-color: #C3E4EF; */ 
    color: #000000;
    /* font-weight: bold; */
    padding: 15px;
	
    border: 1px dashed #8B2B2B;
}

.carttable .titem, .totcosttdval {
	/* background-color: #FFFFFF; */
    
	/* border: 2px solid #FFFFFF; */
    color: #000000;
    font-weight: bold;
    padding: 15px;
	}

.carttable .titem a, .purhcasebutt, .submitbutt{
	background-color: #FDF3D5;
	border-radius: 0px;
	color: #8B2B2B;
	padding: 8px;
	text-decoration: none;
	border-radius: 0.3rem;
	border : 0.1rem solid;
   	}
	

.purhcasebutt, .submitbutt {
	border: 1px solid;
    font-weight: bold;
    margin-left: 33px;
	}
.submitbutt { cursor:pointer;}
.purchasecontrol{
	margin: 50px auto 0;
   }
.shop a {
	border:1px solid;
	width: 50%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px dashed #FF6600;
	/* box-shadow: 5px 5px 1px #ccc; */
	text-decoration:none;
	color : #aaa;
	
          }


.edittable {
	width :60%;
	margin:0 auto;
	float:left;
}
.edittablecol {
	width :30%;
	float:left;
	padding: 0.5rem;
	/* border: 1px dashed #8B2B2B; */
	border: 1px dashed #ccc;
}
.editcolhead {
	background-color:#D5ECF4;
	/* padding: 0.5rem; */
	/* border: 1px dashed; */
}
.paypal {
	margin-left : 30px;
	
	}

.totcost { 
     margin: 39px auto 0;
	}
.totcosttd {
	
	}

.allitems { width : 50%;
           	padding : 20px;
			margin: 0 auto;
			font-family : Century Gothic, Arial;
			text-align:center;
			 background-color: #D7D2D2;
			 box-shadow: 1px 1px 2px #B58484;}
.itemimage img { margin : 0 auto;
             display : block;
			 width: 200px;
			 height : 150px;
			 padding-top:10px;
			 }	
.editimg img {
	width : 100px;
	height:100px;
	}
.itemtitle { 
             height : 50px;
			 }
			 
.itemdesc{ 
           height: 100px;
           padding-top: 7px;
           text-align: justify;
		   }
.itemcontainer { background-color: #FFFFFF;
    border-color: -moz-use-text-color;
    border-style: solid;
    border-width: 8px 1px 9px;
    float: left;
    height: 480px;
    padding: 10px;
    width: 46%;
				 border-color: #121212;}
.others { text-align:center;}
.others table {  margin: 0 auto;
    text-align: center;}
.others table tr {padding : 0px;
                  margin : 0px;
				  padding:5px; }
.others table td {padding : 0px;
                  margin : 0px; }
.others table td h4{ 
                    padding: 0px;
					margin:0px;}
.addtocart { background-color: #FFEBAE;
    border-radius: 5px 5px 5px 5px;
    margin-left: 65px;
    margin-top: 30px;
    padding: 6px;
    text-decoration: none;
    width: 50%;
	font-weight: bold;
			 border: 1px solid #9B2D2D; box-shadow: 3px 3px 2px #ccc;}
.logout, .managerlogin, .clientlogin{
	background-color: #000;
    border-left: 10px solid #F9D875;
    float: left;
    margin-top: 35px;
    padding: 5px;
    width: 15%;
	}
.processing {
    float : left;
	background-color:#000;
	width : 15%;
	padding : 5px;
	border-left: 10px solid #FF6600;
	margin-top: 35px;
	}
.logout  a, .managerlogin a, .clientlogin a, .processing a, .rightbutt a, .lbutt a {
	border-color: -moz-use-text-color;
    /*border-style: solid;*/
    /*border-width: 10px 2px 1px;*/
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
	}
.addtocart a {  text-decoration:none;
                color : #000;}
.clear { clear:both;}
.rightbutt {
	background-color: #292828;
	width : 15%;
	padding : 5px;
	border-left: 10px solid #FAE08F;
	margin-top: 35px;
	float : right;
	box-shadow: -2px -0px 3px #bbb;
	font-size: 15px;
}
.leftbutt{
	width:15%;
	float:left;
}
.resetfield {
	margin-left:6rem;
}
.lmenu {
	float:left;
	width: 15%;
	margin-top: 0rem;
}
.lbutt {
	width : 90%;
    
	background-color: #181818;
	padding : 5px;
	border-left: 10px solid #ADD8E6;
	margin-top: 35px;
	box-shadow: 2px 0px 1px #717171;
	font-size: 15px;
}

.cart img {
	border:1px solid;
	width: 50%;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px dashed #FF6600;
	box-shadow: 5px 5px 1px #ccc;
}

.search input
{
padding:5px;
margin-left:15px

}

.flyout {
	position:absolute;
	top:0px;
	left:0px;
	width: 81.8%;
	text-align:center;
	background:rgba(0,0,0,0.5);
	height: 0%;
	margin:0 auto;
	margin-left: 21px;
	margin-top: 10px;
	font-size: 30px;
	color: #C3E4EF;	
}

.logoimg {
   width: 129px;	
   position : absolute;
   top: 25px;
   left: -14rem;
   margin-top: -2.7rem;
   /* box-shadow: 1rem 0rem 2rem #ECDA8F; */
   padding-right: 0rem;
}
.logotitle {
	width: 235px;
	}
	
.logohead {
	background-color: #C3E4EF;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	color: #292828;
	letter-spacing: 0.4rem;
	padding: 0.3rem;
	text-shadow: 0rem 0rem 0.2rem #000;
	font-size: 1.4rem;
	text-align: right;
	padding-right: 2rem;
	opacity: 0.7;
	box-shadow: 0rem 0rem 0.5rem #292828;
	border-top: 0.3rem solid #8B2B2B;
	position : relative;
}



.flyouts {
	position:relative;
	width : 700px;
	height:800px;
	overflow:hidden;
}

.imgsrc {
	width:700px;
	height:500px;
	position : absolute;
	left : 701px;
	}
.ltarrow , .rtarrow {
	position:absolute;
	font-size : 100px;
	z-index:5;
	width : 100px;
	color:#000;
	cursor:pointer;
}

.ltarrow {
  left : 20px;
  top : 200px;
}

.rtarrow {
  left : 580px;
  top : 200px;
}
.flycontimg {
	width : 35rem;
	height : 23rem;
}

.flyouts {
	width : 100%;
	text-align: center;
	max-height : 20rem; 
}

.flyoutimgs {
	position:absolute;
	left :-1000rem;
	display:none;
}
.flyoutcont {
	position :relative;
	
}
#flylayer2 {
	position :absolute:
	left :0px;
	top :0px;
}
.imgholder {
	border-top:0rem;
	position:relative;
	
}

.headtag {
	font-family: Consolas, monaco, monospace;
	background-color:#8B2B2B;
	color : #FAE08F;
	text-align:center;
	padding : 0.5rem;
	margin-top :3rem;
	letter-spacing:0.2rem;
	font-size:0.7rem;
	text-shadow: 0rem 0rem 0.3rem #FAE08F;;
    box-shadow:0rem 0rem 1rem #aaa;
	font-weight:bold;
	border-bottom:0.2rem solid #FAE08F;
	border-top:0.2rem solid #FAE08F;
	margin-bottom : 0rem;
	position:relative;
	z-index:1;
}
.nameofimg {
width : 15%;
position :absolute;
left :0px;
top :120px;
background-color :#6B6B6B;
color :#fff;
border:1rx solid #fff;
border-left:1rem solid #D5ECF4;
text-shadow:0rem 0rem 0.3rem #fff;
box-shadow:0rem 0rem 1rem #aaa;
padding : 1rem;
font-size:1rem;
text-shadow:0rem 0rem 0.3rem #ccc;
box-shadow:0rem 0rem 0.5rem #aaa;
letter-spacing:0.2rem;
	}
	
.descimg:before {
content : "heehee";	
	}
.descofimg {
	position :absolute;
	left : 65rem;
	top :0px;
	background-color: #C3E4EF;
	opacity:0.7;
	/*box-shadow:0rem 0rem 1rem #8b2b2b;*/
	padding : 0.5rem;
	width : 20%;
	margin-top : 2rem;
	/*border : 0.1rem solid #8B2B2B;*/
	text-align:left;
}

.innertag {
	color : #8B2B2B;
	font-size : 0.8rem;
	letter-spacing:0rem;
	font-style:italic;
	text-decoration: underline;
}

.dropcap {
	color :8B2B2B;
	
	font-size: 4rem;
	position: absolute;
	left: 56.7rem;
	color: #8b2b2b;
	top: -0.6rem;
	background-color: #FAE08F;
	border-bottom: 0.5rem solid #D5ECF4;
	box-shadow: -0.2rem 0rem 0.5rem #aaa;
}
.imgdeschead {
	background-color : #484848;
	color :#fff;
 	font-weight :bold;
	padding : 0.5rem;
	text-align:center;	
	box-shadow:0rem 0rem 0.5rem #aaa;
    margin :0.5rem;
	border : 0.1rem solid #fff;
}
	
.butt1 {
	display: block;
	text-decoration:none;
	background-color : #484848;
	color :#fff;
    padding : 0.5rem;
	box-shadow:0rem 0rem 0.5rem #aaa;
	text-align:center;	
	margin :0.5rem;
	border : 0.1rem solid #fff;
}

.offerssec {
	width : 75%;
	border:1px 1px 1px 0px solid #8B2B2B;
	margin:0 auto;
	margin-top : 1rem;
}

.leftsec {
	float:left;
	width : 50%;
	padding : 1rem;
	float : left;
}
.rightsec {
float: left;
width: 40%;
/* text-align: center; */
padding: 1rem;
float: left;
font-size: 1.3rem;
background-color: #FAE08F;
line-height: 2.3rem;
margin-top: 1rem;
color:#8B2B2B;
opacity:0.8;
box-shadow:0rem 0rem 0.5rem;
margin-left: 2rem;
min-height: 16.4rem;
}
.bluehead {
	background-color:#D5ECF4;
	padding:0.5rem;
	text-align:left;
	text-transform:uppercase;
    font-size : 1rem;
	color :#333;
	width :100%;
	font-weight:bold;
	text-align:center;
}
.offerhead {
	background-color: #4B4444;
	color: #fff;
	font-weight:bold;
	box-shadow:0rem 0rem 1rem #FAE08F;
	padding:0.5rem;
	font-family: Consolas, monaco, monospace;
	margin-top:0.2rem;
	letter-spacing:0.25rem;
	/* border-left:0.4rem solid; */
	/* border-right:0.4rem solid; */
	position:relative;
	cursor:pointer;
	box-sizing:border-box;
}

.offerhead:hover, .offerhead:focus  {
opacity : 0.5;
}

.offerheadhover {
opacity : 0.7;
}

.offerimg {
	width : 50px;
}
.offerheadtext {
	position: absolute;
/* font-weight: bold; */
left: 6rem;
font-size: 1.5rem;
top: 1.3rem;
}

.footer {
	width : 100%;
	margin:0 auto;
	text-align:center;
	margin-top : 8rem;
	background-color : #626262;
	padding : 1rem;
	border-top : 0.2rem solid #ccc;
}

.link {
	padding : 0.5rem;
	
}

.link a {
	text-decoration:none;
	color : #fff;
	font-weight:bold;
}
.effect {
width: 3.1rem;
height: 2.6rem;
background-color: rgba(0,0,0,0);
position: absolute;
left: -5rem;
top: 0px;
box-shadow: 1rem 0rem 1rem #FAE08F;
padding-right: 0rem;
border-radius: 4rem;

}
.noeffect {
	
}

.maincont {
width: 62%;
min-height : 75rem;	
	
float: left;
box-sizing: border-box;
/* border: 1rem solid; */
margin: 2rem;
padding: 1rem;
}
.wholewrap {
	width : 100%;
}

.question:before {
	content : "";
	border : 20px solid rgba(255,255,255,1);
	width : 20px;
	min-height :20px;
	color : #000;
}
.question {
	
}

.tag {
	background-color:#ccc;
	box-shadow: 0.1rem 0.1rem 0.1rem #aaa;
	border : 1px solid #bbb;
	border-radius: 0px 10px;
	width : 20%;
	text-align:center;
	float:left;
	}
.value {
   width : 20%;	
   float:left;

	}
.imgdesc {
	text-align:left;
	margin-top : 1rem;
	padding : 1.5rem;
	background-color:#ddd;
	border-radius:5px;
	}
	
.line {
	margin-top : 0.5rem;
	
}